html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

*[hidden] {
    display: none
}

body {
    line-height: 1
}

menu,
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body.keyboard-user *:focus {
    outline: #000 1px auto
}

:focus {
    outline: 0
}

.skip-link {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -100%;
    padding: 1rem 2rem;
    color: #000;
    background: #fff
}

.skip-link:focus {
    left: 0
}

.skip-anchor {
    position: absolute;
    top: -6rem
}

@media(max-width:767px) {
    .skip-anchor {
        top: -4rem
    }
}

body.toolbar-horizontal {
    padding-top: calc(4rem + 39px) !important
}

@media(max-width:1023px),
(hover:none) {
    body.toolbar-horizontal {
        padding-top: calc(4rem + 39px) !important
    }
}

body.toolbar-horizontal .header {
    top: 39px
}

body.toolbar-horizontal.toolbar-tray-open {
    padding-top: calc(4rem + 79px) !important
}

@media(max-width:1023px),
(hover:none) {
    body.toolbar-horizontal.toolbar-tray-open {
        padding-top: calc(4rem + 79px) !important
    }
}

body.toolbar-horizontal.toolbar-tray-open .header {
    top: 79px
}

body.toolbar-vertical {
    padding-top: calc(4rem + 39px) !important
}

body.toolbar-vertical .header {
    top: 39px !important
}


.back {
    border: 1px solid #eef1f4
}

.breadcrumb {
    background: #05243e;
    padding: 1rem 0;
    font-size: .8125rem
}

@media(max-width:1023px) {
    .breadcrumb {
        font-size: .75rem
    }
}

@media(max-width:767px) {
    .breadcrumb {
        height: auto;
        margin-left: 0;
        margin-right: 0
    }
}

.breadcrumb__wrapper {
    display: flex;
    height: calc(4rem / 2);
    box-sizing: border-box
}

.breadcrumb__path ol {
    display: flex;
    list-style: none;
    flex-wrap: wrap
}

.breadcrumb__path {
    display: flex;
    align-items: center
}

.breadcrumb__item {
    padding-right: 1.5rem;
    background-image: url(/themes/custom/aorta_lsp/images/icons/arrow-right-primary.svg);
    background-position: right .6rem center;
    background-size: .4rem;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #6f889d;
    font-weight: bold
}

.breadcrumb__item:hover {
    color: #fff
}

.breadcrumb__item--current {
    padding-right: 0;
    color: #fff;
    background: none
}

.button {
    display: inline-block;
    transition: all 250ms ease-in-out;
    padding: 1.16em 3.5em 1.16em 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none
}

.button--primary {
    color: #fff;
    background: #80ba27 url(/themes/custom/aorta_lsp/images/icons/arrow-right-white.svg) no-repeat center right 2em;
    font-size: .889rem
}

.button--primary:hover {
    background-color: #b3d67d
}

.button--secondary {
    color: #103a5d;
    background: #ccd6dc url(/themes/custom/aorta_lsp/images/icons/arrow-right-secondary.svg) no-repeat center right 1.5em;
    font-size: .667rem;
    border-radius: 2em
}

.button--secondary:hover {
    background-color: #abbbc5
}

.button--tertiary {
    color: #103a5d;
    background: #ccd6dc url(/themes/custom/aorta_lsp/images/icons/arrow-right-secondary.svg) no-repeat center right 1.5em;
    font-size: .889rem
}

.button--tertiary:hover {
    background-color: #abbbc5
}

.button--expand {
    color: #103a5d;
    background: #ccd6dc url(/themes/custom/aorta_lsp/images/icons/arrow-down-secondary.svg) no-repeat center right 1.5em;
    font-size: .667rem;
    border-radius: 2em
}

.button--expand:hover {
    background-color: #abbbc5
}

.button--next,
.button--back {
    background-repeat: no-repeat;
    font-size: .8rem
}

.button--next {
    color: #ed6c82;
    background-image: url(/themes/custom/aorta_lsp/images/icons/arrow-right-tertiary.svg);
    background-position: center right;
    background-size: .35em;
    padding: 1em 1.5em 1em 0;
    font-weight: normal;
    text-transform: none
}

.button--back {
    color: #103a5d;
    background-image: url(/themes/custom/aorta_lsp/images/icons/arrow-left-primary.svg);
    background-size: .5em;
    background-position: center left;
    padding: 1em 0 1em 1.5em
}

.link {
    background-image: url(/themes/custom/aorta_lsp/images/icons/arrow-right-blue.svg);
    background-size: .3em;
    background-position: center right;
    background-repeat: no-repeat;
    padding: .8em .5em 1em 0
}

.link--external {
    background-image: url(/themes/custom/aorta_lsp/images/icons/external.svg);
    background-size: 1em;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 1em 1.5em 1em 0
}

svg.ext {
    display: none
}

.copyright {
    padding: 1rem 0;
    background: #000;
    color: #fff
}

.copyright a {
    color: #fff;
    text-decoration: underline;
    margin-left: 3px
}

.date {
    margin-bottom: 1em;
    font-size: .8rem;
    font-weight: bold;
    color: #80ba27;
    text-transform: uppercase
}

.filtered-view__filter {
    text-align: center
}

.filtered-view__label {
    display: inline-block;
    padding: .5rem 1rem;
    font-weight: bold;
    margin-bottom: 1em
}

.filtered-view .form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.filtered-view .form__item--checkbox {
    position: relative;
    margin: 0 5px 5px 0
}

.filtered-view .doelgroep-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.filtered-view .doelgroep-checkbox+label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -90001px;
    cursor: pointer;
    margin: 0
}

.filtered-view .doelgroep-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    background: #80ba27;
    border-radius: 100%;
    z-index: 2
}

.filtered-view .doelgroep-checkbox:checked+label:hover::after {
    background: #abbbc5
}

.filtered-view .doelgroep-label {
    margin: 0
}

.filtered-view .form-radios {
    display: flex
}

.filtered-view .form__item--radio {
    margin-right: 1rem
}

.filtered-view .form__input--radio+label {
    position: relative;
    padding: 0;
    padding-bottom: 4px;
    background: none;
    color: #6f889d
}

.filtered-view .form__input--radio+label:hover {
    color: #103a5d
}

.filtered-view .form__input--radio:checked+label {
    color: #103a5d;
    background: none
}

.filtered-view .form__input--radio:checked+label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fcbf20
}

.filtered-view .form__input--text {
    padding: .5rem;
    border-radius: .5rem
}

.filtered-view form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-bottom: 2rem
}

.filtered-view form [id*=doelgroepen] {
    grid-column-start: 1;
    grid-column-end: -1
}

.filtered-view form .form__item--textfield {
    grid-column-start: 1;
    grid-column-end: 3
}

@media(max-width:1023px) {
    .filtered-view form .form__item--textfield {
        grid-column-start: 1
    }
}

.form__item {
    position: relative
}

.form__fieldset,
.form__textarea,
.form__input,
.form__description,
.form__item--webform-image-file {
    margin-bottom: 1rem
}

.form__label,
.fieldset__legend {
    display: block;
    margin-bottom: .6em;
    color: #6f889d
}

.form__label,
.field__label {
    color: #6f889d
}

.form__label--required,
.field__label--required {
    position: relative
}

.form__label--required::after,
.field__label--required::after {
    content: "*";
    color: #e52330;
    margin-left: .2rem
}

.form__label--shift-up,
.field__label--shift-up {
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1rem;
    transition: 200ms all
}

.form__label--filled,
.field__label--filled {
    top: .5rem;
    font-size: .78rem
}

.form__input,
.form__textarea {
    position: relative;
    z-index: 1;
    resize: none;
    width: 100%;
    border: 0;
    font-family: "Lato", sans-serif;
    line-height: 1.75rem;
    background-color: #eef1f4;
    padding: 1.25rem 1rem .25rem;
    box-sizing: border-box;
    color: #103a5d
}

.form__input--checkbox,
.form__input--radio {
    position: absolute;
    opacity: 0;
    visibility: hidden
}

.form__input--checkbox+label,
.form__input--radio+label {
    cursor: pointer;
    min-height: 20px;
    padding: 0 0 0 2rem;
    background: no-repeat top left
}

.form__input--checkbox+label {
    background-image: url(/themes/custom/aorta_lsp/images/forms/checkbox.svg)
}

.form__input--checkbox:checked+label {
    background-image: url(/themes/custom/aorta_lsp/images/forms/checkbox-checked.svg)
}

.form__input--radio+label {
    background-image: url(/themes/custom/aorta_lsp/images/forms/radio.svg)
}

.form__input--radio:checked+label {
    background-image: url(/themes/custom/aorta_lsp/images/forms/radio-checked.svg)
}

.form__input--submit {
    border: 0;
    cursor: pointer;
    line-height: unset
}

.form__input--select {
    appearance: unset;
    width: 236px;
    height: 35px;
    padding: 0 2rem;
    border: 1px solid #ccd6dc;
    overflow: hidden;
    background: #fff url(/themes/custom/aorta_lsp/images/forms/select.svg) no-repeat right 12px center;
    line-height: 2rem
}

.form__input--file {
    top: 0;
    height: 0;
    margin-bottom: 0;
    border: 0;
    visibility: hidden;
    opacity: 0
}

.form__input--description {
    color: #ccd6dc
}

.form__fieldset--styled {
    padding: 3rem;
    background: #ccd6dc
}

@media(max-width:1023px) {
    .form__fieldset--styled {
        padding: 2rem
    }
}

.form__fieldset--styled legend {
    float: left;
    clear: both;
    width: 100%;
    font-size: 2rem;
    color: #80ba27;
    margin-bottom: 2rem
}

@media(max-width:767px) {
    .form__fieldset--styled legend {
        font-size: 22px
    }
}

.form__description {
    color: #ccd6dc
}

.footer h5 {
    font-size: 1rem;
    color: #103a5d
}

.footer a {
    display: block;
    text-decoration: none
}

.footer a:hover {
    text-decoration: underline
}

.footer a.phone {
    font-size: 1.2rem;
    font-weight: bold
}

.footer__title {
    margin-bottom: 1rem
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    border-bottom: solid 1px #abbbc5;
    margin-bottom: 1rem;
    padding-bottom: 3rem
}

@media(max-width:450px) {
    .footer__top {
        display: block
    }
}

.footer__top a {
    margin-bottom: 1rem
}

.footer__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem
}

@media(max-width:1023px) {
    .footer__column {
        display: block
    }
}

.footer__menu,
.footer__contact {
    margin-bottom: 2rem
}

.footer__social a {
    display: inline-block;
    margin-right: 1rem
}

.footer__social a:last-child {
    margin-right: 0
}

.footer__bottom ul {
    display: flex
}

@media(max-width:767px) {
    .footer__bottom ul {
        flex-wrap: wrap
    }
}

.footer__bottom a,
.footer__bottom span {
    margin-right: 1rem;
    color: #ced6de
}

.footer__logo {
    max-width: 30px
}

@media(max-width:1023px) {
    .footer__logo {
        width: 100%
    }
}

.footer__logo img {
    width: 6rem;
    height: auto
}

.footer__links {
    display: flex
}


.header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%
}

.header__top {
    height: 4rem;
    background: #eef1f4;
    transition: all 250ms ease-in-out
}

@media(max-width:1023px),
(hover:none) {
    .header__top {
        background: #fff
    }
}

@media(min-width:1024px) {
    .header__top--collapsed {
        height: 3rem
    }
}

.header__bottom {
    height: 6rem;
    background: #fff;
    box-sizing: border-box;
    transition: all 250ms ease-in-out
}

@media(max-width:1023px),
(hover:none) {
    .header__bottom {
        display: none
    }
}

.header__bottom::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #eef1f4
}

@media(min-width:1024px) {
    .header__bottom--collapsed {
        height: 4rem
    }
}

.header__wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between
}

.header__logo {
    z-index: 1;
    height: 60%;
    text-decoration: none
}

.header__logo img {
    box-sizing: border-box;
    height: 100%;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px
}

.header__logo img:first-child {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 2px solid #abbbc5
}

.header__nav {
    display: flex;
    align-items: center;
    height: 100%
}

.header__nav li {
    list-style: none
}


@media(max-width:1023px),
(hover:none) {
    .header__secondary-menu {
        display: none
    }
}

.intro__submenu {
    grid-column: span 2
}

@media(max-width:1475px) {
    .intro__submenu {
        grid-column: span 3
    }
}

.intro__content {
    grid-column: span 9
}

@media(max-width:1023px) {
    .intro__content {
        grid-column: span 8
    }
}

.intro--doelgroep {
    grid-column: span 9
}


.local-tasks {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    opacity: .5;
    transition: all 250ms ease-in;
    background: #000;
    box-shadow: 0 -4px 19px -6px rgba(0, 0, 0, .25)
}

.local-tasks:hover {
    opacity: .8
}

.local-tasks li {
    display: inline-block
}

.local-tasks li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 15px 20px;
    opacity: .8
}

.local-tasks li a:hover {
    opacity: 1
}

.login {
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccd6dc;
    box-sizing: border-box
}

.login ul {
    display: flex
}

.login li {
    list-style: none;
    margin: 0 2rem
}

.login a {
    display: inline-block;
    color: #000;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff
}

.login a.is-active,
.login a:hover {
    border-bottom-color: #80ba27
}

.main-menu {
    display: flex;
    align-items: center;
    height: 100%
}

.main-menu__submenu {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    min-width: 250px;
    background: #eef1f4;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .1)
}

.main-menu__submenu--collapse-down {
    top: 100%;
    left: 0
}

.main-menu__submenu--collapse-right {
    top: 0;
    left: 100%;
    min-height: 100%
}

.main-menu__item a:hover {
    text-decoration: underline
}

.main-menu__item:hover>.main-menu__submenu {
    display: block;
    visibility: visible
}

.main-menu__item--top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: 3rem
}

.main-menu__item--top>a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #103a5d;
    text-decoration: none
}

.main-menu__item--top.main-menu__item--expandable {
    background-image: url(/themes/custom/aorta_lsp/images/icons/arrow-down-secondary.svg)
}

.main-menu__item--top.main-menu__item--expandable:hover {
    background-image: url(/themes/custom/aorta_lsp/images/icons/arrow-up-secondary.svg)
}

.main-menu__item--sub:hover {
    background-color: #ced6de
}

.main-menu__item--sub>a {
    display: block;
    padding: .5rem 1rem;
    color: #103a5d;
    text-decoration: none
}

.main-menu__item--sub.main-menu__item--expandable:hover {
    color: #eef1f4 !important
}

.main-menu__item--expandable {
    padding-right: 2rem;
    background: url(/themes/custom/aorta_lsp/images/icons/arrow-right-secondary.svg) center right .5rem no-repeat
}

.messages {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: none;
    color: #fff;
    background: #048e04;
    padding: 2em;
    box-sizing: border-box;
    z-index: 6
}

@media(max-width:767px) {
    .messages {
        margin-bottom: 2rem
    }
}

.messages a {
    color: #fff
}

.messages h2 {
    display: none
}

.messages__close {
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 1;
    font-weight: bold;
    cursor: pointer
}

.messages__alert {
    max-height: 75vh;
    max-width: 75vw;
    overflow: auto
}

.messages--error {
    background: #d60808
}

.messages--warning {
    background: #f68d11
}

.newsletter {
    display: flex;
    justify-content: center
}

.newsletter p,
.newsletter h2,
.newsletter h3,
.newsletter h4 {
    color: #fff
}

.opgemaakte-tekst ul li,
.opgemaakte-tekst ol li,
.cke_editable ul li,
.cke_editable ol li {
    padding-inline-start: 1em;
    margin-bottom: .5rem
}

.opgemaakte-tekst ul,
.cke_editable ul {
    list-style: none;
    padding-left: 20px
}

.opgemaakte-tekst ul li::before,
.cke_editable ul li::before {
    content: "â€¢";
    color: #ed6c82;
    font-weight: 900;
    font-size: 1rem;
    display: inline-block;
    width: 2em;
    margin-left: -2em
}

.opgemaakte-tekst ol,
.cke_editable ol {
    list-style: decimal;
    padding-left: 20px
}

.pager {
    margin: 1rem 0
}

.pager__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.pager__item {
    margin: .5rem
}

.pager__item a {
    color: #ced6de;
    display: block;
    text-decoration: none
}

.pager__item a:hover {
    color: #103a5d
}

.pager__item.is-active a {
    color: #103a5d
}

.pager__item--first,
.pager__item--last {
    display: none
}

.paragraph {
    grid-column-start: 3;
    grid-column-end: -3;
    margin-bottom: 1rem
}

@media(max-width:1475px) {
    .paragraph {
        grid-column-start: 2;
        grid-column-end: -2;
        margin-bottom: 1rem
    }
}

.paragraph:last-child {
    margin: 0
}

.paragraph .opgemaakte-tekst a.ext:not(.button, .link) {
    background-image: url(/themes/custom/aorta_lsp/images/icons/external.svg);
    background-size: 1em;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 0 1.2em 0 0
}

html {
    scroll-behavior: smooth
}

body {
    padding-top: calc(4rem)
}

@media(max-width:1023px),
(hover:none) {
    body {
        padding-top: 4rem
    }
}

body.disable-scroll {
    position: fixed;
    overflow-y: hidden;
    width: 100%
}


.result {
    color: #103a5d;
    text-decoration: none;
    font-weight: bold
}

.result:hover {
    background: #eef1f4
}

.result__wrapper {
    display: flex;
    flex-direction: column
}

.result__type {
    display: none
}

.result__title {
    padding: .5rem 4rem .5rem 1rem;
    box-sizing: border-box
}

.result__show-all .button {
    display: block
}

.view--zoeken header,
.view--zoeken p {
    color: #abbbc5;
    margin-top: 3rem
}


.section {
    grid-column-start: 1;
    grid-column-end: -1
}

.section--narrow {
    grid-column-start: 3;
    grid-column-end: -3;
    margin-bottom: 1rem
}

@media(max-width:1475px) {
    .section--narrow {
        grid-column-start: 2;
        grid-column-end: -2;
        margin-bottom: 1rem
    }
}

@media(min-width:1024px) {
    .secondary-menu {
        display: flex
    }
}

@media(max-width:1023px),
(hover:none) {
    .secondary-menu {
        display: block
    }
}

@media(min-width:1024px) {
    .secondary-menu__item {
        margin-left: 1rem
    }

    .secondary-menu__item a {
        color: #103a5d;
        text-decoration: none
    }

    .secondary-menu__item a:hover {
        text-decoration: underline
    }
}

@media(max-width:1023px),
(hover:none) {
    .secondary-menu__item {
        border-bottom: 1px solid #fff;
        padding: 1rem 24px;
        margin-left: 0
    }

    .secondary-menu__item a {
        display: block;
        text-decoration: none;
        color: #103a5d;
        font-size: 1.25rem
    }
}

@media(max-width:767px) {
    .secondary-menu__item {
        padding: 1rem 15px
    }
}

.social {
    background: #103a5d;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 2rem;
    position: relative;
    transition: all 250ms ease-in-out
}

.social:hover {
    transition: all 250ms ease-in-out;
    background: #0081c7
}

.social img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 25px
}

table {
    width: 100%;
    border: 1px solid #ced6de
}

table caption {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem
}

table caption em {
    color: #80ba27;
    font-weight: bold
}

table th,
table td {
    padding: 1rem
}

table th {
    text-align: left;
    font-weight: bold;
    background-color: #eef1f4;
    color: #103a5d
}

table tr {
    border-bottom: 1px solid #ced6de;
    background-color: #fff
}

table tr:nth-child(even) {
    background-color: #fcfcfd
}

table tr:last-child {
    border: 0
}

.teaser {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .08);
    transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background: #fff
}

@media(max-width:767px) {
    .teaser {
        margin-bottom: 1rem
    }
}

.teaser__subtitle {
    font-weight: bold;
    color: #abbbc5;
    text-transform: uppercase;
    font-size: .833rem
}

.teaser__image img {
    width: 100%;
    height: auto
}

.teaser__content-wrapper {
    box-sizing: border-box;
    padding: 1rem;
    background: #fff
}

@media(max-width:767px) {
    .teaser__content-wrapper {
        padding: 1rem
    }
}

.teaser__content-wrapper--stakeholder {
    padding: 2rem
}

@media(max-width:767px) {
    .teaser__content-wrapper--stakeholder {
        padding: 1rem
    }
}

.teaser__content {
    margin-bottom: 1rem;
    flex-grow: 1
}

.teaser__logo--stakeholder {
    height: 120px;
    margin-bottom: .5rem
}

.teaser__logo--stakeholder img {
    max-height: 120px
}

.teaser__logo--doelgroep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #eef1f4;
    border-radius: 7px;
    margin: 0 auto 1rem
}

.teaser__logo--doelgroep img {
    height: 50px;
    width: auto
}

.teaser__title {
    margin-bottom: 1rem
}

.teaser__title--doelgroep {
    text-align: center;
    font-weight: bold;
    display: block
}

@media(max-width:450px) {
    .teaser__title--doelgroep {
        font-size: .75rem
    }
}

.teaser__title a {
    text-decoration: none;
    color: unset
}

.teaser__link {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0
}

:root {
    font-size: 16px
}

@media(max-width:767px) {
    :root {
        font-size: 16px
    }
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.55;
    color: #103a5d
}

h1,
.h1 {
    font-family: "Chivo", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: .5em;
    color: #fff
}

@media(max-width:767px) {

    h1,
    .h1 {
        font-size: 1.75rem
    }
}

@media(max-width:450px) {

    h1,
    .h1 {
        font-size: 1.33rem
    }
}

h2,
.h2 {
    font-family: "Chivo", sans-serif;
    font-size: 2.1875rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: .75em;
    color: #103a5d
}

@media(max-width:767px) {

    h2,
    .h2 {
        font-size: 1.75rem
    }
}

@media(max-width:450px) {

    h2,
    .h2 {
        font-size: 1.33rem
    }
}

h3,
.h3 {
    font-family: "Chivo", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.13;
    margin-bottom: .75em;
    color: #103a5d
}

@media(max-width:767px) {

    h3,
    .h3 {
        font-size: 1.33rem
    }
}

@media(max-width:450px) {

    h3,
    .h3 {
        font-size: 1.2rem
    }
}

h4,
.h4 {
    font-family: "Lato", sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.33;
    color: #103a5d
}

@media(max-width:767px) {

    h4,
    .h4 {
        font-size: 1.25rem
    }
}

@media(max-width:450px) {

    h4,
    .h4 {
        font-size: 1.1rem
    }
}

h5,
h6 {
    font-family: "Lato", sans-serif;
    font-size: .889rem;
    font-weight: bold;
    line-height: 2;
    color: #80ba27
}

@media(max-width:767px) {

    h5,
    h6 {
        font-size: 1rem
    }
}

p {
    margin-bottom: 1rem
}

p:last-child {
    margin-bottom: 0
}

.view--zoeken header,
.view--zoeken p,
.large {
    font-size: 1.125rem;
    line-height: 1.5
}

.small {
    font-size: .778rem;
    line-height: 1.57
}

@media(max-width:767px) {
    .small {
        font-size: .889rem
    }
}

a {
    color: #ed6c82
}

strong {
    font-weight: bold
}

blockquote {
    font-size: 2rem;
    font-style: italic;
    text-align: center
}

@media(max-width:767px) {
    blockquote {
        font-size: 1.333rem
    }
}

blockquote::before,
blockquote::after {
    content: '"'
}

figcaption,
em {
    font-style: italic
}

video {
    width: 100%;
    height: auto
}

.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 3em;
    width: 3em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background-color: #80ba27;
    border: 0;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: all .4s
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
    line-height: 3em
}

.video-js.vjs-has-started .vjs-big-play-button {
    display: none
}

.video-js.vjs-has-started.vjs-paused .vjs-big-play-button {
    display: block
}

.video-js:hover .vjs-big-play-button {
    background-color: #b3d67d
}

.vjs-controls-enabled {
    margin-bottom: 1rem
}

body.toolbar-horizontal {
    padding-top: calc(4rem + 39px) !important
}

@media(max-width:1023px),
(hover:none) {
    body.toolbar-horizontal {
        padding-top: calc(4rem + 39px) !important
    }
}

body.toolbar-horizontal .header {
    top: 39px
}


body.toolbar-horizontal.toolbar-tray-open {
    padding-top: calc(4rem + 79px) !important
}

@media(max-width:1023px),
(hover:none) {
    body.toolbar-horizontal.toolbar-tray-open {
        padding-top: calc(4rem + 79px) !important
    }
}

body.toolbar-horizontal.toolbar-tray-open .header {
    top: 79px
}


body.toolbar-vertical {
    padding-top: calc(4rem + 39px) !important
}

body.toolbar-vertical .header {
    top: 39px !important
}


.text-and-image {
    display: flex
}

@media(max-width:767px) {
    .text-and-image {
        flex-direction: column-reverse
    }
}

.text-and-image__img {
    position: relative;
    flex: 0 0 50%
}

@media(max-width:767px) {
    .text-and-image__img {
        margin: 0;
        max-width: 100%
    }
}

.text-and-image__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media(max-width:767px) {
    .text-and-image__img img {
        position: relative
    }
}

.text-and-image__img--wide {
    position: relative
}

.text-and-image__img--wide img {
    width: 50vw;
    max-width: 960px;
    overflow: visible
}

@media(max-width:767px) {
    .text-and-image__img--wide img {
        position: unset;
        object-fit: unset;
        height: auto;
        width: 100%
    }
}

.text-and-image__img--img-left {
    order: 1
}

.text-and-image__img--img-left img {
    right: 0
}

.text-and-image__img--img-right {
    order: 2
}

.text-and-image__img--img-right img {
    left: 0
}

@media(min-width:768px) {
    .text-and-image__img--maintain {
        display: flex;
        justify-content: center;
        align-items: center
    }
}

.text-and-image__img--maintain img {
    position: unset
}

.text-and-image__img--logo {
    padding: 6rem 6rem 6rem 0;
    box-sizing: border-box
}

@media(max-width:1475px) {
    .text-and-image__img--logo {
        padding: 6rem 6rem 6rem 0
    }
}

@media(max-width:1023px) {
    .text-and-image__img--logo {
        padding: 3rem 3rem 3rem 0
    }
}

@media(max-width:767px) {
    .text-and-image__img--logo {
        padding: 2rem 0 0 0
    }
}

.text-and-image__subtitle {
    text-transform: uppercase;
    color: #80ba27;
    font-weight: bold;
    margin-bottom: .5rem
}

.text-and-image__content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box
}

.text-and-image__content--wide {
    min-height: 100vh
}

@media(max-width:767px) {
    .text-and-image__content--wide {
        min-height: unset
    }
}

.text-and-image__content--text-left {
    order: 1;
    padding: 4rem 6rem 4rem 0
}

@media(max-width:1023px) {
    .text-and-image__content--text-left {
        padding: 3rem 3rem 3rem 0
    }
}

@media(max-width:767px) {
    .text-and-image__content--text-left {
        padding: 2rem 0
    }
}

.text-and-image__content--text-right {
    order: 2;
    padding: 4rem 0 6rem 4rem
}

@media(max-width:1023px) {
    .text-and-image__content--text-right {
        padding: 3rem 0 3rem 3rem
    }
}

@media(max-width:767px) {
    .text-and-image__content--text-right {
        padding: 2rem 0
    }
}


.set {
    margin: 0 3rem 3rem 0;
    grid-column: span 6
}

.set__value--big {
    color: #fff
}

.set__label {
    color: #fff
}

.set__label--primary {
    color: #80ba27;
    margin-bottom: 2rem
}


.doelgroep-label {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #103a5d;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: .75em;
    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .08);
    border-radius: 5px
}

@media(max-width:767px) {
    .doelgroep-label {
        font-size: .8rem
    }
}

.doelgroep-label:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15)
}

.doelgroep-label img {
    height: 1.75em;
    width: auto;
    margin-right: .5em
}

@media(max-width:767px) {
    .doelgroep-label img {
        display: none;
        margin: 0
    }
}

.doelgroep-vragen {
    margin-bottom: 2rem
}

.frontpage-doelgroepen {
    position: relative;
    z-index: 1;
    transform: translateY(-3rem)
}

@media(max-width:767px) {
    .frontpage-doelgroepen {
        align-items: flex-start
    }
}

.frontpage-doelgroepen__view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -1rem
}

.frontpage-doelgroepen .teaser {
    min-width: 17.5%;
    margin: 0 .5rem 1rem .5rem;
    flex-basis: 0;
    height: unset
}

@media(max-width:1023px) {
    .frontpage-doelgroepen .teaser {
        min-width: calc(25% - 1rem)
    }
}

@media(max-width:767px) {
    .frontpage-doelgroepen .teaser {
        min-width: calc(50% - 1rem)
    }
}

.frontpage-doelgroepen__link {
    display: block;
    margin-top: 2rem
}

.frontpage-numbers {
    position: relative
}


.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.container-inline div,
.container-inline label {
    display: inline;
}

.container-inline .details-wrapper {
    display: block;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.js details:not([open]) .details-wrapper {
    display: none;
}

.hidden {
    display: none;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
}

.invisible {
    visibility: hidden;
}

.item-list__comma-list,
.item-list__comma-list li {
    display: inline;
}

.item-list__comma-list {
    margin: 0;
    padding: 0;
}

.item-list__comma-list li:after {
    content: ", ";
}

.item-list__comma-list li:last-child:after {
    content: "";
}

.js .js-hide {
    display: none;
}

.js-show {
    display: none;
}

.js .js-show {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.position-container {
    position: relative;
}


.reset-appearance {
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.resize-none {
    resize: none;
}

.resize-vertical {
    min-height: 2em;
    resize: vertical;
}

.resize-horizontal {
    max-width: 100%;
    resize: horizontal;
}

.resize-both {
    max-width: 100%;
    min-height: 2em;
    resize: both;
}

table.sticky-header {
    z-index: 500;
    top: 0;
    margin-top: 0;
    background-color: #fff;
}


body.drag {
    cursor: move;
}

tr.region-title {
    font-weight: bold;
}

tr.region-message {
    color: #999;
}

tr.region-populated {
    display: none;
}

tr.add-new .tabledrag-changed {
    display: none;
}

.draggable a.tabledrag-handle {
    float: left;
    overflow: hidden;
    height: 1.7em;
    margin-left: -1em;
    cursor: move;
    text-decoration: none;
}

[dir="rtl"] .draggable a.tabledrag-handle {
    float: right;
    margin-right: -1em;
    margin-left: 0;
}

a.tabledrag-handle:hover {
    text-decoration: none;
}

a.tabledrag-handle .handle {
    width: 14px;
    height: 14px;
    margin: -0.4em 0.5em 0;
    padding: 0.42em 0.5em;
    background: url(/core/themes/stable/images/core/icons/787878/move.svg) no-repeat 6px 7px;
}

a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
    background-image: url(/core/themes/stable/images/core/icons/000000/move.svg);
}

.touchevents .draggable td {
    padding: 0 10px;
}

.touchevents .draggable .menu-item__link {
    display: inline-block;
    padding: 10px 0;
}

.touchevents a.tabledrag-handle {
    width: 40px;
    height: 44px;
}

.touchevents a.tabledrag-handle .handle {
    height: 21px;
    background-position: 40% 19px;
}

[dir="rtl"] .touch a.tabledrag-handle .handle {
    background-position: right 40% top 19px;
}

.touchevents .draggable.drag a.tabledrag-handle .handle {
    background-position: 50% -32px;
}

.tabledrag-toggle-weight-wrapper {
    text-align: right;
}

[dir="rtl"] .tabledrag-toggle-weight-wrapper {
    text-align: left;
}

.indentation {
    float: left;
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
}

[dir="rtl"] .indentation {
    float: right;
    margin: -0.4em -0.4em -0.4em 0.2em;
    padding: 0.42em 0.6em 0.42em 0;
}

.tablesort {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100%;
}

.tablesort--asc {
    background-image: url(/core/themes/stable/images/core/icons/787878/twistie-down.svg);
}

.tablesort--desc {
    background-image: url(/core/themes/stable/images/core/icons/787878/twistie-up.svg);
}

div.tree-child {
    background: url(/core/themes/stable/images/core/tree.png) no-repeat 11px center;
}

div.tree-child-last {
    background: url(/core/themes/stable/images/core/tree-bottom.png) no-repeat 11px center;
}

[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
    background-position: -65px center;
}

div.tree-child-horizontal {
    background: url(/core/themes/stable/images/core/tree.png) no-repeat -11px center;
}

.views-align-left {
    text-align: left;
}

.views-align-right {
    text-align: right;
}

.views-align-center {
    text-align: center;
}

.views-view-grid .views-col {
    float: left;
}

.views-view-grid .views-row {
    float: left;
    clear: both;
    width: 100%;
}

.views-display-link+.views-display-link {
    margin-left: 0.5em;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .25s ease-in-out;
    visibility: hidden
}

.modal--visible {
    visibility: visible;
    opacity: 1
}

.button--close {
    position: absolute;
    z-index: 1;
    top: 8vh;
    right: 8vh;
    width: 50px;
    height: 50px
}

svg.ext {
    width: 14px;
    height: 14px;
    padding-right: 0.2em;
    fill: #727272;
    font-weight: 900;
}

svg.mailto {
    width: 14px;
    height: 14px;
    padding-right: 0.2em;
    fill: #727272;
}

svg.ext path,
svg.mailto path {
    stroke: #727272;
    stroke-width: 3;
}

@media print {

    svg.ext,
    svg.mailto {
        display: none;
        padding: 0;
    }
}

extlink i {
    padding-left: 0.2em;
}

.paragraph--unpublished {
    background-color: #fff4f4;
}

.hero {
    position: relative
}

.hero--frontpage {
    display: flex;
    min-height: 45vh;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    background: url(../images/dot-grid.svg);
}

@media(max-width:1023px) {
    .hero--frontpage {
        padding-bottom: 3rem
    }
}

.hero__image::before,
.hero__image::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.hero__image::before {
    background: url(../images/dot-grid.svg)
}

.hero__image::after {
    background: rgba(16, 58, 93, .9)
}

.hero__image img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.hero__grid {
    position: relative;
    z-index: 1
}

@media(max-width:767px) {
    .hero__grid {
        display: flex !important;
        flex-direction: column
    }
}

.hero__grid--frontpage {
    display: block !important
}

.hero__content {
    grid-column-start: 1;
    grid-column-end: 10
}

@media(max-width:767px) {
    .hero__content {
        order: 1
    }
}

.hero__icon {
    background: #fff;
    border-radius: 10px;
    padding: .5rem;
    height: calc(4rem * 2);
    box-sizing: border-box;
    margin-right: 2rem;
    display: flex;
    align-items: center
}

@media(max-width:767px) {
    .hero__icon {
        height: 6rem
    }
}

.hero__icon img {
    height: 100%;
    width: auto
}

.hero__title-holder {
    display: flex;
    align-items: center
}

.hero__title.h1 {
    color: #fff;
    margin: 0
}

.hero__title--frontpage.h1 {
    max-width: 60%;
    color: #fff;
    font-family: "Chivo", sans-serif;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: .25em
}

@media(max-width:1023px) {
    .hero__title--frontpage.h1 {
        max-width: 75%
    }
}

@media(max-width:767px) {
    .hero__title--frontpage.h1 {
        max-width: 100%;
        font-size: 3.75rem
    }
}

@media(max-width:450px) {
    .hero__title--frontpage.h1 {
        max-width: 100%;
        font-size: 2rem
    }
}

.hero__subtitle {
    color: #80ba27;
    font-size: 1.25rem;
    line-height: 1
}

.hero__intro {
    color: #fff;
    font-size: 1.125rem;
    margin: 2rem 0
}

.hero__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column-start: -4;
    grid-column-end: -1
}

@media(max-width:767px) {
    .hero__links {
        display: block;
        order: 3
    }
}

.hero__links--frontpage {
    display: block
}

.hero__links a {
    margin-bottom: 1rem
}

@media(max-width:767px) {
    .hero__links a {
        display: block
    }
}

.hero__submenu {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 2rem
}

@media(max-width:767px) {
    .hero__submenu {
        order: 2;
        margin-bottom: 1rem
    }
}

.wrapper {
    position: relative
}

.wrapper--center {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
}

@media(max-width:1475px) {
    .wrapper--center {
        width: 980px
    }
}

@media(max-width:1023px) {
    .wrapper--center {
        width: 720px
    }
}

@media(max-width:767px) {
    .wrapper--center {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem
    }
}

.wrapper--fluid {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    min-width: 1200px;
    max-width: 1396px
}

@media(max-width:1475px) {
    .wrapper--fluid {
        min-width: 980px
    }
}

@media(max-width:1023px) {
    .wrapper--fluid {
        min-width: 720px
    }
}

@media(max-width:767px) {
    .wrapper--fluid {
        width: auto;
        min-width: 0;
        margin-left: 15px;
        margin-right: 15px
    }
}

.wrapper--center-text {
    text-align: center
}

.wrapper--margin {
    margin-top: 4rem;
    margin-bottom: 4rem
}

@media(max-width:1023px) {
    .wrapper--margin {
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}

@media(max-width:767px) {
    .wrapper--margin {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
}

.wrapper--padding-small {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.wrapper--padding {
    padding-top: 4rem;
    padding-bottom: 4rem
}

@media(max-width:1023px) {
    .wrapper--padding {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

@media(max-width:767px) {
    .wrapper--padding {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
}

.wrapper--padding-large {
    padding-top: 6rem;
    padding-bottom: 6rem
}

@media(max-width:1023px) {
    .wrapper--padding-large {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
}

@media(max-width:767px) {
    .wrapper--padding-large {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

.wrapper--bg {
    background: #ccd6dc
}

.wrapper--bg-grey-lightest {
    background: #eef1f4
}

.wrapper--bg-secondary {
    background: #103a5d
}

.wrapper--bg-secondary-dots {
    position: relative
}

.wrapper--bg-secondary-dots::before,
.wrapper--bg-secondary-dots::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.wrapper--bg-secondary-dots::before {
    background: #103a5d url(/themes/custom/aorta_lsp/images/dot-grid.svg);
    background-size: 40px
}

.wrapper--bg-secondary-dots::after {
    background: linear-gradient(90deg, rgba(16, 58, 93, 0.75) 0%, #103a5d 100%)
}

.wrapper--bg-secondary-dots-vertical {
    position: relative
}

.wrapper--bg-secondary-dots-vertical::before,
.wrapper--bg-secondary-dots-vertical::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.wrapper--bg-secondary-dots-vertical::before {
    background: #103a5d url(/themes/custom/aorta_lsp/images/dot-grid.svg);
    background-size: 40px
}

.wrapper--bg-secondary-dots-vertical::after {
    background: linear-gradient(180deg, rgba(16, 58, 93, 0.75) 0%, #103a5d 25%, #103a5d 75%, rgba(16, 58, 93, 0.75) 100%)
}

.wrapper--bg-primary-dots-fade,
.wrapper--bg-grey-dots-fade,
.wrapper--bg-grey-lightest-dots-fade {
    position: relative;
    background: #eef1f4
}

.wrapper--bg-primary-dots-fade>*,
.wrapper--bg-grey-dots-fade>*,
.wrapper--bg-grey-lightest-dots-fade>* {
    position: relative;
    z-index: 1
}

.wrapper--bg-primary-dots-fade::before,
.wrapper--bg-primary-dots-fade::after,
.wrapper--bg-grey-dots-fade::before,
.wrapper--bg-grey-dots-fade::after,
.wrapper--bg-grey-lightest-dots-fade::before,
.wrapper--bg-grey-lightest-dots-fade::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 1rem;
    height: 100%;
    width: 45%;
    z-index: 0
}

@media(max-width:1023px) {

    .wrapper--bg-primary-dots-fade::before,
    .wrapper--bg-primary-dots-fade::after,
    .wrapper--bg-grey-dots-fade::before,
    .wrapper--bg-grey-dots-fade::after,
    .wrapper--bg-grey-lightest-dots-fade::before,
    .wrapper--bg-grey-lightest-dots-fade::after {
        width: 75%
    }
}

.wrapper--bg-primary-dots-fade::after,
.wrapper--bg-grey-dots-fade::after,
.wrapper--bg-grey-lightest-dots-fade::after {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #eef1f4)
}

.wrapper--bg-primary-dots-fade::before,
.wrapper--bg-grey-dots-fade::before,
.wrapper--bg-grey-lightest-dots-fade::before {
    background: url(/themes/custom/aorta_lsp/images/dot-grid.svg) repeat
}

.wrapper--bg-grey-dots-fade {
    background: #ccd6dc
}

.wrapper--bg-grey-dots-fade::after {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #ccd6dc)
}

.wrapper--bg-primary-dots-fade {
    background: #e6f1d4
}

.wrapper--bg-primary-dots-fade::after {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #e6f1d4)
}

.wrapper--bg-primary-dots-fade::before {
    background: url(/themes/custom/aorta_lsp/images/dot-grid.svg) repeat
}

.wrapper--bg-dots-reverse::before,
.wrapper--bg-dots-reverse::after {
    right: 0
}

.wrapper--bg-dots-reverse::after {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), #eef1f4)
}

.wrapper--bg-primary-20 {
    background: #e6f1d4
}

.wrapper--bg-beige {
    background: #e3dbc7
}

.two-columns {
    display: flex
}

@media(max-width:767px) {
    .two-columns {
        display: block
    }
}

.two-columns__column {
    flex: 1 0 50%;
    box-sizing: border-box
}

.two-columns__column:first-child {
    padding-right: 2rem
}

@media(max-width:767px) {
    .two-columns__column:first-child {
        padding: 0;
        margin-bottom: 2rem
    }
}

.two-columns__column:last-child {
    padding-left: 2rem
}

@media(max-width:767px) {
    .two-columns__column:last-child {
        padding: 0
    }
}

.two-columns__column--image {
    flex-basis: 30%
}

.two-columns__column--centered {
    display: flex;
    align-items: center
}

@media(max-width:767px) {
    .two-columns__column--centered {
        display: block
    }
}

.two-columns__column--centered-vertical {
    display: flex;
    justify-content: center;
    flex-direction: column
}

@media(max-width:767px) {
    .two-columns__column--centered-vertical {
        display: block
    }
}

.three-columns {
    display: flex
}

@media(max-width:767px) {
    .three-columns {
        display: block
    }
}

.three-columns__column {
    flex-basis: 33.333%;
    box-sizing: border-box
}

.three-columns__column:nth-child(2) {
    padding: 0 3rem
}

@media(max-width:1023px) {
    .three-columns__column:nth-child(2) {
        padding: 0 2rem
    }
}

@media(max-width:767px) {
    .three-columns__column:nth-child(2) {
        padding: 0
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px
}

@media(max-width:767px) {
    .grid {
        display: block
    }
}

.grid--teasers {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem
}

@media(max-width:1023px) {
    .grid--teasers {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width:767px) {
    .grid--teasers {
        grid-template-columns: repeat(1, 1fr)
    }
}

.grid--small-teasers {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem
}

@media(max-width:1023px) {
    .grid--small-teasers {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(max-width:767px) {
    .grid--small-teasers {
        grid-template-columns: repeat(2, 1fr)
    }
}